<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="piuk.blockchain.com.FeatureFlagsHandlingActivity"
            tools:node="remove">
        </activity>

        <activity
            tools:node="replace"
            android:name="piuk.blockchain.android.ui.launcher.LauncherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="bitcoin" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="blockchain.info"
                    android:pathPrefix="/invite"
                    android:scheme="https" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${DYNAMIC_LINK_HOST}"
                    android:scheme="https" />
                <data
                    android:host="${DYNAMIC_LINK_HOST_2}"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
