<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <application
        android:fullBackupContent="false"
        android:networkSecurityConfig="@xml/charles_network_security_config"
        tools:replace="fullBackupContent">
        <activity
            android:name="piuk.blockchain.com.FeatureFlagsHandlingActivity"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:label="BC FFs"
            android:screenOrientation="portrait"
            android:taskAffinity="piuk.blockchain.com.FeatureFlagsHandlingActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
